

/* initial rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Calibri, Trebuchet MS, sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}
header {
	font-size: 80%;
	margin: 10px;
}
footer {
	font-size: 0.7rem;
}

/* heat cells */
.cell {
	stroke: white;
	stroke-width: 0.05px;
}
.cell:hover {
	stroke: orange;
	stroke-width: 2px;
}

/* tooltip */
#tooltip {
	/* behavior	*/
	pointer-events: none;
	visibility: hidden;
	position: fixed;
	/* readability */
	background-color: black;
	opacity: 0.7;
	color: white;
	font-size: 90%;
	line-height: 150%;
	padding: 3px 10px;
	border-radius: 3px;
}